* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
    width: 100vw;
    font-size: 14px;
}

header {
    font-size: 1.25rem;
    margin: 0 0 10px;
    font-weight: bold;
}

ul {
    line-height: 1.5;
    margin-left: 3%;
}

li {
    padding: 0.5% 0;
}

code, pre {
    background-color: #f6e1e113;
    color: #ff677d;
}

code > pre {
    margin-left: 3%;
}

/* navigation bar section */
#navbar {
    background-color: #fafafa;
    position: sticky;
    top: 0;
    margin-bottom: 7px;
}

.navbar-brand {
    margin: auto 0;
}

/* main document section */
#main-doc {
    margin-left: 3%;
    padding: 1.5%;
    width: fit-content;
    max-width: 95vw;
}

.os-type {
    font-weight: bold;
}

/* data types section */
.data-type-class {
    margin-left: 10px;
    font-weight: 500;
}

/* conditions section */
.condition-type {
    font-weight: 600;
}

/* DESKTOP AND LAPTOP VERSION */
@media (min-width: 990px) {
    * {
        width: fit-content;
    }

    body {
        font-size: 1rem;
    }

    header {
        font-size: 30px;
        margin: 0 0 15px;
        font-weight: bold;
    }

    /* navigation bar section*/
    #navbar{
        position: fixed;
        height: 100vh;
        width: 255px;
        padding: 1.5%;
    }

    .navbar, .navbar-nav {
        display: block;
    }

    .nav-link {
        width: fit-content;
    }

    .navbar-brand {
        font-size: 30px;
        margin: 0 0 15px;
        font-weight: bold;
        white-space: normal;
    }

    /* main document section */
    #main-doc {
        margin-left: 300px;
        padding: 1.5%;
        max-width: 78vw;
    }

    .main-section > header {
        position: relative;
        right: 40px;
    }

    .setup-step-title {
        font-size: 20px;
    }
}